html {
    font-size: 10px;
    font-family: 'Arial', sans-serif;
    background-color: #87CEEB; /* Cielo claro */
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #F5FFFA; /* Blanco menta */
    padding: 20px;
    border: 5px solid #2E8B57; /* Verde bosque */
    border-radius: 10px;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #2E8B57;
    text-shadow: 2px 2px 5px #000;
    text-align: center;
    font-size: 60px;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    color: black; /* Verde oliva oscuro */
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    border: 3px solid #2E8B57;
    border-radius: 10px;
}
